
@{
    ViewBag.Title = "Подтверждение Аккаунта";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Подтверждение Аккаунта</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Спасибо за регистрацию! Пожалуйста, проверьте вашу электронную почту и подтвердите ваш аккаунт, кликнув по ссылке, которую мы вам отправили.</p>
                    <p class="card-text">Если вы не получили письмо с подтверждением, <a href="/Account/ResendConfirmationEmail" class="btn btn-link">нажмите здесь</a>, чтобы отправить письмо повторно.</p>
                </div>
            </div>
        </div>
    </div>
</div>