
@{
    ViewBag.Title = "_Footer";
}

<footer class="bg-dark footer text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-cta py-4 mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="cta-content">
                                <h3 class="text-white mb-2">Лучший выбор для покупок</h3>
                                <p class="text-white-50 mo-mb-20 mb-0">Низкие цены и высокое качество.</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-md-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <img src="images/logo-light.png" alt="" height="20">
                </div>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title text-white mb-3">О нас</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="">Домой</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">О нас</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title text-white mb-3">Соц сети</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Telegram</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title text-white mb-3">Поддерка</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="">Служба поддержкиt</a></li>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Правила пользования</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="footer-title text-white mb-3">Контакты</h5>
                <div class="pt-1">
                    <div class="float-left mr-2">
                        <i class="pe-7s-map-marker font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">Молдова Кишинев UTM</p>
                </div>
                <div>
                    <div class="float-left mr-2">
                        <i class="pe-7s-phone font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">+373 688 268 28</p>
                </div>
                <div>
                    <div class="float-left mr-2">
                        <i class="pe-7s-mail font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">eldar.ismailov@isa.utm.md</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="py-4">
                    <div class="text-center">
                        <p class="text-white-50">2024 © Magazine N2. Design by <a href="" target="_blank" class="text-white-50">Eldar Ismailov TI-227</a> </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid end -->
</footer>