
@{
    ViewBag.Title = "AboutUs";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="h2">О Нас</h1>
        <p class="lead">Узнайте больше о нашей компании и команде.</p>
    </div>

    <section class="mb-5">
        <h2 class="h3 mb-3">Наша Миссия</h2>
        <p>Мы стремимся предоставлять качественные услуги, чтобы улучшить жизнь наших клиентов.</p>
    </section>

    <section class="mb-5">
        <h2 class="h3 mb-3">Создатель сайта</h2>
        <div class="row">
            <!-- Профиль члена команды -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Эльдар Исмайлов</h5>
                        <p class="card-text">Студент УТМ.</p>
                    </div>
                </div>
            </div>
            <!-- Добавьте другие профили по аналогии -->
        </div>
    </section>
</div>


