
@{
    ViewBag.Title = "Confidencial";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="h2">Политика Конфиденциальности</h1>
        <p class="lead">Ваша конфиденциальность очень важна для нас.</p>
    </div>

    <section class="mb-5">
        <h2 class="h3 mb-3">Сбор личной информации</h2>
        <p>Когда вы посещаете наш сайт, мы можем собирать такую информацию как:</p>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-user"></i></span>Имя и Фамилия</li>
            <li><span class="fa-li"><i class="fas fa-envelope"></i></span>Адрес электронной почты</li>
            <li><span class="fa-li"><i class="fas fa-phone"></i></span>Номер телефона</li>
            <li><span class="fa-li"><i class="fas fa-calendar-alt"></i></span>Дата рождения</li>
        </ul>
    </section>

    <section class="mb-5">
        <h2 class="h3 mb-3">Использование информации</h2>
        <p>Мы используем собранную информацию для:</p>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-user-check"></i></span>Предоставления услуг</li>
            <li><span class="fa-li"><i class="fas fa-bullhorn"></i></span>Маркетинговых целей</li>
            <li><span class="fa-li"><i class="fas fa-shield-alt"></i></span>Улучшения безопасности сайта</li>
        </ul>
    </section>

    <section class="mb-5">
        <h2 class="h3 mb-3">Защита информации</h2>
        <p>Мы принимаем меры для защиты вашей личной информации:</p>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-lock"></i></span>Шифрование данных</li>
            <li><span class="fa-li"><i class="fas fa-users-cog"></i></span>Ограниченный доступ к данным</li>
        </ul>
    </section>
</div>